legend{
			text-align: center;
		}
		fieldset{
			margin: 200px 180px;

			border-color: black;
			box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
			border-radius: 30px;
		}
		body{
			background: linear-gradient(to right, #3485, #9108);
			text-color: whitesmoke;
		}
